.wrap {
  background: linear-gradient(to top, #996633 0%, #663300 100%);
  border-radius: 1em;
  padding: 1em;
  height: 480px;
}
.card-wrapper {
  background: url("/assets/images/big-logo.png") no-repeat center center;
  background-size: 15em;
  height: 440px;
}
.players-wrapper {
  padding-left: 12px;
  padding-right: 12px;
  border-top: 12px;
  border-bottom: 12px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: #fff;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px;
  box-shadow: .125rem .25rem rgba(0, 0, 0, .075) !important;
}
.header-container {
  padding: 4px 4px;
  text-align: center;
  border-radius: 2px;
  background-color: #f8f9fa !important;
  margin-bottom: 16px;
}
.players-container {
  .white {
    color: #fff;
  }
}

#buttons {
  margin-bottom: 1em;

  button.ready {
    margin-right: 20px;
  }
}
h5 {
  margin-bottom: 0 !important;
}
small {
  font-style: italic;
  font-size: 66% !important;
}

.copyBtn {
  cursor: pointer;
}
.copyBtn.copy {
  vertical-align: top;
}
