<div class="bg">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-12 text-center">
          <img class="main img-responsive center-block" src="../../assets/images/big-logo.png" alt="dixit"/>
      </div>
      <div class="col-md-12">
        <div class="jumbotron text-center shadow-sm p-3 mb-5">
            <h1 class="display-4 text-center">Welcome to Dixit<span *ngIf="username">, {{ username }}</span>!</h1>
            <p class="lead">The popular game of imaginative storytelling...</p>
            <div class="text-center">
              <button class="btn btn-warning" (click)="howToPlay()">How to play</button>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <p>You can create a new game ... </p>
                    <button class="btn btn-warning" (click)="newGame()">New game</button>
                </div>
                <div class="col-md-6">
                    <p>... or you can enter in a friend's one</p>
                    <button class="btn btn-warning" (click)="join()">Join game</button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="svg"></div>
