

<div class="bg">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-12 text-center">
          <img class="main img-responsive center-block" src="../../assets/images/big-logo.png" alt="dixit"/>
      </div>
      <div class="col-md-12">
        <div class="jumbotron text-center shadow-sm p-3 mb-5">
            <h1 class="display-4 text-center">Welcome to Dixit<span *ngIf="username">, {{ username }}</span>!</h1>
            <p class="lead">The popular game of imaginative storytelling...</p>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <p>You can create a new game ... </p>
                    <button class="btn btn-warning" (click)="newGame()">New game</button>
                </div>
                <div class="col-md-6">
                    <p>... or you can enter in a friend's one</p>
                    <button class="btn btn-warning" (click)="join()">Join game</button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="svg"></div>

<ng-template #enterNameModal let-modal>
  <div class="modal-body">
    <div class="container test">
      <div class="row">
        <div class="col-md-12 text-center">
          <blockquote class="blockquote">
            <p class="mb-0">What's your name fellow?</p>
          </blockquote>
          <input
            type="text"
            name="userName"
            maxlength="16"
            (keyup)="setUsername($event)"
            ngbAutofocus class="form-control"
            autocomplete="off" />
          <br>
          <button type="button" class="btn btn-light" (click)="modal.close()">Cancel</button>
          <button type="button" class="btn btn-warning" [disabled]="usernameBtnDisabled" (click)="modal.close(username)">Let's go</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #enterRoomModal let-modal>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <blockquote class="blockquote">
            <p class="mb-0">Enter access code to join</p>
          </blockquote>
          <input
            type="text"
            name="userName"
            maxlength="5"
            (change)="accessRoom($event)"
            ngbAutofocus class="form-control"
            autocomplete="off"
            placeholder="AFGEJ" />
          <br>
          <button type="button" class="btn btn-light" (click)="modal.close()">Cancel</button>
          <button type="button" class="btn btn-warning" [disabled]="usernameBtnDisabled" (click)="modal.close(username)">Join</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
