
<div class="room">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="../../assets/images/big-logo.png" class="d-inline-block align-top main" alt="">
      </a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation" (click)="toggleNavbarCollapsing()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse" [class.collapse]="navbarCollapsed" id="navbarNav">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.dixit.com/">Rules</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.buymeacoffee.com/">Donate</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="logout()">Log out</a>
            </li>
        </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row justify-content-center">
       <div class="players-wrapper col-sm-8 col-md-6 col-lg-5 col-xl-4">
        <div class="wrap col-12">
          <div *ngIf="!pageNotFound" class="header-container">
             <h5 id="room-code"><strong>Room Code: </strong> {{ room }}</h5>
             <div class="game-status" id="game-status"><em> Waiting for players to ready up</em></div>
          </div>

          <div *ngIf="!pageNotFound; else notFound" class="players-container">
                <div
                  class="p-2 mb-2"
                  *ngFor="let player of players; let i = index"
                  [attr.data-color]="player.color"
                  (click)="changePlayerColor(player.color)">
                  <span data-id="{{ i }}" >{{ player.name }}</span>
                  <span *ngIf="player.name">
                    <span *ngIf="player.ready" class="ready float-right here"></span>
                    <span *ngIf="!player.ready" class="not-ready float-right here"></span>
                  </span>
              </div>
          </div>

          <ng-template #notFound>
            <div class="players-container not-found">
              <h5 class="text-center white">Sorry!</h5>
              <h5 class="text-center white">The page was not found.</h5>
            </div>
         </ng-template>
       </div>
      </div>
     </div>
 </div>
 <div *ngIf="!pageNotFound" class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
      <div class="btn-container text-center" id="buttons">
        <button type="button" class="btn btn-warning ready">Ready Up</button>
        <button type="button" class="btn btn-success start" disabled="disabled">Start Game</button>
      </div>
    </div>
  </div>
</div>
</div>

<ng-template #enterNameModal let-modal></ng-template>


