
<div class="room">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="../../assets/images/big-logo.png" class="d-inline-block align-top main" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.buymeacoffee.com/">Donate</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="logout()">Log out</a>
            </li>
        </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row justify-content-center">

       <div class="players-wrapper">
        <div class="wrap col-12">
          <div class="header-container">
             <h5 id="room-code"><strong>Room Code: LUPEV (copy img)</strong></h5>
             <div class="game-status" id="game-status"><em> Waiting for players to ready up</em></div>
          </div>
          <div class="players-container">
            <div class="p-2 mb-2 bg-white text-dark">Alexa <span class="not-ready">not ready</span></div>
            <div class="p-2 mb-2 bg-secondary text-white"></div>
            <div class="p-2 mb-2 bg-success text-white"></div>
            <div class="p-2 mb-2 bg-danger text-white"></div>
            <div class="p-2 mb-2 bg-warning text-dark"></div>
            <div class="p-2 mb-2 bg-info text-white"></div>
            <div class="p-2 mb-2 bg-light text-dark"></div>
            <div class="p-2 mb-2 bg-dark text-white"></div>
          </div>
       </div>
      </div>

     </div>
     <div class="btn-container" id="buttons">
      <form class="button_to" method="post" action="/ready_up" data-remote="true"><input id="pause" class="btn-flat ready-button" type="submit" value="Ready up" style=""><input type="hidden" name="authenticity_token" value="HYvIGxMnZsXlTNPZ9sqZWQu6jUm3AK3ifVKN28zftTXqpRrwIRA9BorGqQ0zOydnP/ionO07zU5jwqk/YSUOLQ=="><input type="hidden" name="lobby_id" value="17986"><input type="hidden" name="user" value="68093"></form>
      <form class="button_to" method="post" action="/ready_up" data-remote="true"><input id="resume" class="btn-flat unready-button" type="submit" value="Unready" style="display: none;"><input type="hidden" name="authenticity_token" value="HYvIGxMnZsXlTNPZ9sqZWQu6jUm3AK3ifVKN28zftTXqpRrwIRA9BorGqQ0zOydnP/ionO07zU5jwqk/YSUOLQ=="><input type="hidden" name="lobby_id" value="17986"><input type="hidden" name="user" value="68093"></form>
      <button name="button" type="submit" id="start-game-button" class="btn-flat start-button" disabled="" remote="true">Start Round</button>
    </div>
 </div>
</div>

