.room {
  height: 100vh;
}
div.room::after {
  content: "";
  background: url('/assets/images/dixit-room.jpg') rgba(43, 51, 136) center center no-repeat;
  opacity: 0.85;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
img.main {
  max-height: 30px;
}



