<div class="room">
  <app-header></app-header>
  <div *ngIf="status != ''" class="jumbotron jumbotron-fluid standings">
    <div class="container">
      <h1 class="display-4 text-center">{{ status }} </h1>
    </div>
  </div>
  <div *ngIf="waitingForTale && !storyteller && status == ''" class="jumbotron jumbotron-fluid standings">
    <div class="container">
      <h1 class="display-4 text-center loading">Waiting for {{ storyTeller != undefined ? storyTeller.name : '' }} to tell us a story </h1>
    </div>
  </div>
  <div *ngIf="waitingForTale && storyteller && status == ''" class="jumbotron jumbotron-fluid standings">
    <div class="container">
      <h1 class="display-4 text-center loading">{{ storyTeller != undefined ? storyTeller.name : '' }}, it is your turn to tell a story </h1>
    </div>
  </div>
  <div *ngIf="!waitingForTale && status == ''" class="jumbotron jumbotron-fluid standings">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div>
          <div class="blob {{ storyTeller.color }} ready float-left"></div>
          <span class="{{ storyTeller.uid == uid ? 'font-weight-bold' : ''}}">{{ storyTeller.name }} </span>
          <div class="points">({{ storyTeller.points }} p.) </div>
        </div>
        <div *ngFor="let player of players; let i = index">
          <div class="blob {{ player.color }} {{ player.roundFinished ? 'ready' : '' }} float-left"></div>
          <span class="{{ player.uid == uid ? 'font-weight-bold' : ''}}">{{ player.name }} </span>
          <div class="points">({{ player.points }} p.) </div>
        </div>
      </div>
      <h1 class="display-4 text-center">The story: "<strong>{{ storyText }}</strong>" told by {{ storyTeller.name }}</h1>
    </div>
  </div>

  <div class="card-deck-wrapper">
    <div class="card-deck">
      <div
        class="card"
        *ngFor="let card of cards | keyvalue">
        <div class="scene">
          <div class="deck">
            <div class="card-face front">
              <div class="card-title"></div>
            </div>
            <div class="card-face back">
              <img class="card-img-top" src="/assets/images/cards/{{ card.value }}.png" alt="Dixit card">
            </div>
          </div>
        </div>

        <div class="card-body text-center">
          <button
            *ngIf="storyteller"
            [disabled]="tellStoryBtnDisabled"
            type="button"
            (click)="tellStory(card.value)"
            class="btn btn-warning">
              Tell a story
          </button>
          <button
            *ngIf="!storyteller"
            [disabled]="waitingForTale || fitMostBtnDisabled"
            type="button"
            (click)="listenerCardChoice(card.value)"
            class="btn btn-warning">
              I fit the most
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #tellStoryModal let-modal></ng-template>
<ng-template #confirmModal let-modal></ng-template>



