<div class="modal-body">
  <div id="wrapper">
    <div id="container">
        <section class="open-book">
            <header>
                <h1>Game Rules</h1>
                <h6>Jean-Louis Roubira</h6>
            </header>
            <article>
                <h2 class="chapter-title">Dixit</h2>
                <p>
                  Dixit provides a set of abstract illustrations that players need to describe.
                  Each turn one player will be the storyteller, who secretly chooses one of their dealt cards and announces its description — this can be a word, a phrase,
                  a related thought, etc.
                </p>
                <p>
                  The rest of the players choose the card from their hand that best resembles the provided description,
                  and all the cards are mixed before being revealed.
                </p>
                <p>
                  Once the cards are displayed, each player except the storyteller vote on which one they think is the original card that matches the description.
                </p>
                <p>
                  Players will be confused, since ideally everybody will have chosen an illustration that somehow resembles that thought.
                  The storyteller must not provide a description that is too obvious, since they won't get any points if all players guess their card.
                  On the other hand, if they are succinct enough for someone to guess their illustration, they will be awarded 3 points.
                </p>
                <p>
                  Players who correctly guess are also awarded 3 points, plus 1 additional point if any player votes their card.
                </p>
                <p>
                  So the scoring is:
                </p>
                <ul>
                    <li><mark><strong>0</strong> points for the storyteller</mark> if everybody guesses their card</li>
                    <li class=""> <mark><strong>3</strong> points for the storyteller</mark> if someone, but not everybody, guesses their card</li>
                    <li class=""> <mark><strong>3</strong> points for players</mark> who correctly guess the storyteller's card</li>
                    <li class=""> <mark><strong>+1</strong> points for player</mark> who provided a card that is chosen by any other player.</li>
                </ul>
                <p>The game ends when a player reaches <mark class="green">30 points</mark> or more (if there are more than one player with 30 points).</p>
                <br>
                <p>
                  More about the game you can find here: <a href="https://en.wikipedia.org/wiki/Dixit_(card_game)" target="_blank">Dixit Wikipedia</a>
                </p>
            </article>

            <div class="text-center">
              <button type="button" class="btn btn-warning closeBook" style="display: none;" #close (click)="activeModal.close()">Close</button>
            </div>

            <footer>
                <ol id="page-numbers">
                    <li>1</li>
                    <li>2</li>
                </ol>
            </footer>
        </section>
    </div>
  </div>
</div>
