div.room::after {
  content: "";
  background: url('/assets/images/dixit-finish.jpg') rgba(43, 51, 136) center center no-repeat;
  filter: grayscale(100%);
  opacity: 0.85;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.card-deck-wrapper {
  margin: 20px;
  .card-deck {
    margin-bottom: 20px;
  }
  .card-body {
    line-height: 40px;
    padding: 0.5rem;
    .dots {
      width: fit-content;
      margin: 0 auto;
    }
  }
}

.card-img-top {
  height: 450px;
  background-size: cover;
  object-fit: cover;
}
.card {
  background-color: rgba(255,255,255,0.7);
}

.leaderboard {
  background-color: rgba(255,255,255,0.8);
  max-width: 640px;
  margin: 20px auto;
  .players div {
    display:inline-block;
  }
  table td {
    vertical-align: middle;
    padding: 0px;
  }
}

.jumbotron {
  padding: 1rem 1rem;
  margin-bottom: 0;
}

.blob ~ span {
  line-height: 40px;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 75px;
  display: inline-block;
}

div.points {
  font-size: 14px;
  text-align: center;
  position: relative;
  top: -18px;
}
@media only screen and (max-width: 600px) {
  .blob ~ span {
    font-size: 11px;
    width: 45px;
    line-height: normal;
  }
  div.points {
    font-size: 12px;
    top: -5px;
  }
}

.summary {
  white-space: pre-line;
  font-style: italic;
}

.scene {
  height: 450px;
}

.card-title {
  height: 450px;
}

.decks {
  .card0 {
    left:60%;
    margin-left:-13em;
    z-index:10;
    transform: rotateZ(-3deg);
    -moz-transform: rotateZ(-3deg);
    -webkit-transform: rotateZ(-3deg);
    transition: all 0.5s ease-out 0.3s;
  }
  .card1 {
    left:60%;
    margin-left:-12em;
    z-index:9;
    transition: all 0.5s ease-out 0.15s;
  }
  .card2 {
    left:60%;
    margin-left:-11em;
    z-index:8;
    transform: rotateZ(3deg);
    -webkit-transform: rotateZ(3deg);
    -moz-transform: rotateZ(3deg);
    transition: all 0.5s ease-out;
  }
  .card3 {
    left:60%;
    margin-left:-10em;
    z-index:7;
    transform: rotateZ(6deg);
    -webkit-transform: rotateZ(6deg);
    -moz-transform: rotateZ(6deg);
    transition: all 0.5s ease-out;
  }
  .card4 {
    left:60%;
    margin-left:-9em;
    z-index:6;
    transform: rotateZ(9deg);
    -webkit-transform: rotateZ(9deg);
    -moz-transform: rotateZ(9deg);
    transition: all 0.5s ease-out;
  }

  @media only screen and (max-width: 640px) {
    .card0, .card1, .card2, .card3, .card4 {
      left: 66% !important;
    }
  }

  .start section {
      left:-100%;
      opacity:0;
      transform: rotateZ(0deg);
      -webkit-transform: rotateZ(0deg);
      -moz-transform: rotateZ(0deg);
  }

  .cards-container {
      position:relative;
      width: 18em;
      margin:4em auto;
  }

  #stack section {
      position:absolute;
      top:0;
      background: linear-gradient(to top, #996633 0%, #663300 100%);
      box-shadow: 1px 1px 7px rgba(0,0,0,.65);
      border-radius:0em;
      //padding: 2em;
      width:20em;
      max-width:20em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      height: 450px;
  }

  #stack section a {
      margin:0em -2em;
      display:block;
      width:120%;
      max-width:24em;
      position:relative;
      line-height:1em;
  }

  #stack section a:after {
      content: "";
      position:absolute;
      left:0;
      right:0;
      top:0px;
      bottom:1px;
      border-bottom:1px solid rgba(0,0,0,0.35);
      border-top:1px solid rgba(0,0,0,0.15);
  }

  #stack section h1 {
      margin-top:0;
  }

  #stack section p {
      line-height:1.75em;
      margin-bottom:0;
  }

  img { max-width:100% }

  @media (min-width:880px) {
      .cards-container {
          width: 24em;
      }
  }

  @media (min-width:1075px) {
      .cards-container {
          width: 38em;
      }
  }

  @media (max-height:550px) {
      .cards-container {
          width: 24em;
      }
  }
}


