.room {
  height: 100vh;
}
div.room::after {
  content: "";
  background: url('/assets/images/dixit-finish.jpg') rgba(43, 51, 136) center center no-repeat;
  filter: grayscale(100%);
  opacity: 0.85;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.card-deck-wrapper {
  margin: 20px;
  .card-deck {
    margin-bottom: 20px;
  }
  .card-body {
    line-height: 40px;
    padding: 0.5rem;
  }
}

.card-img-top {
  height: 450px;
  background-size: cover;
  object-fit: cover;
}
.card {
  background-color: rgba(255,255,255,0.5);
}

.leaderboard {
  background-color: rgba(255,255,255,0.8);
  max-width: 640px;
  margin: 20px auto;
  .players div {
    display:inline-block;
  }
  table td {
    vertical-align: middle;
    padding: 0px;
  }
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 0;
}

.blob ~ span {
  line-height: 40px;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 75px;
  display: inline-block;
}

div.points {
  font-size: 14px;
  text-align: center;
  position: relative;
  top: -18px;
}
@media only screen and (max-width: 600px) {
  .blob ~ span {
    font-size: 11px;
    width: 45px;
  }
}
