<div class="room">
  <app-header></app-header>
  <div class="jumbotron jumbotron-fluid standings">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div *ngFor="let player of players;">
          <div class="blob {{ player.color }} float-left"></div>
          <span class="{{ player.uid == uid ? 'font-weight-bold' : ''}}">{{ player.name }} </span>
          <div class="points">({{ player.points }} p.) </div>
        </div>
      </div>
      <div *ngIf="loading === true" class="text-center">
        <p class="text-center">The story was: "<strong>{{ story }}</strong>" told by <strong>{{ storyTeller == undefined ? '' : storyTeller.name }}</strong></p>
      </div>
      <div *ngIf="loading" class="text-center loading">
        Waiting for the players to choose a card
      </div>
      <div *ngIf="loading === false && myPoints != ''" class="text-center summary">
        {{ myPoints }}
      </div>
      <div *ngIf="loading === false && myPoints != ''" class="text-center summary">
        <small><strong>{{ hostname.name }}</strong> (as a host) can proceed now to the next round</small>
      </div>
    </div>
  </div>

  <!-- <div *ngIf="leaderBoardShown" class="leaderboard table-responsive">
    <table class="table table-striped">
      <tbody>
        <tr *ngFor="let number of leaderboard; let k = index">
          <td scope="row">
            <div class="text-center"><strong>{{ k }}</strong></div>
            <div class="players text-center">
              <div *ngFor="let player of players;">
                <div *ngIf="player.points == k" class="blob {{ player.color }}"></div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->

  <div class="container">
    <div *ngIf="loading === false && host" class="container text-center mt-4">
      <button type="button" class="btn btn-warning" (click)="nextRound()">
         {{ winnerBtn ? 'We have a winner' : 'Next round' }}
      </button>
    </div>
    <div *ngIf="nextRoundBtn" class="container text-center mt-4">
      <button type="button" class="btn btn-warning" (click)="nextRoundRedirect()">Go to next round</button>
    </div>
    <!-- <div *ngIf="loading === true && myVote != ''" class="decks">
      <div id="stack" class="cards-container">
        <section *ngFor="let card of cards | keyvalue; let i = index" class="card card{{ i }}">
          <img class="card-img-top" src="/assets/images/cards/{{ card.value.card }}.png" alt="Dixit card">
        </section>
      </div>
    </div> -->

    <!-- <div *ngIf="myVote == ''" class="card-deck-wrapper"> -->
    <div class="card-deck-wrapper">
      <div class="card-deck">
        <div
          class="card"
          *ngFor="let card of cards | keyvalue;">
          <div class="scene">
            <div class="deck">
              <div class="card-face front">
                <div class="card-title"></div>
              </div>
              <div class="card-face back">
                <img class="card-img-top" src="/assets/images/cards/{{ card.value.card }}.png" alt="Dixit card">
              </div>
            </div>
          </div>
          <div *ngIf="storyTeller.uid == uid" class="card-body text-center">
            <div *ngIf="card.key == storyTeller.uid">
              <small>My card</small>
            </div>
            <div *ngIf="card.key != storyTeller.uid">
              <small>This is the card submitted by {{ getPlayerByUID(card.key) }}</small>
            </div>

            <div class="dots" *ngIf="card.value.choosenBy != undefined">
              <div
                *ngFor="let vote of card.value.choosenBy | keyvalue"
                class="blob {{ vote.value.color }} ready float-left">
              </div>
            </div>
          </div>

          <div *ngIf="storyTeller.uid !== uid" class="card-body text-center">
            <div *ngIf="loading === false">
              <div *ngIf="card.key == storyTeller.uid">
                <small><strong>This is the card explained by {{ storyTeller.name }}</strong></small>
              </div>
              <div *ngIf="card.key != storyTeller.uid">
                <small>This is the card submitted by {{ getPlayerByUID(card.key) }}</small>
              </div>

              <div class="dots" *ngIf="card.value.choosenBy != undefined">
                <div
                  *ngFor="let vote of card.value.choosenBy | keyvalue"
                  class="blob {{ vote.value.color }} ready float-left">
                </div>
              </div>
            </div>

            <div *ngIf="loading === true && myVote != '' && myChoice == card.value.card">
              <small>My choice</small>
            </div>

            <button
              *ngIf="myVote == ''"
              type="button"
              class="btn btn-warning"
              (click)="finalCard(card)">
              This is the card
            </button>
          </div>

        </div>
      </div>
    </div>

    <!-- <div class="container">
      <div class="card-columns">
        <div
          class="card"
          *ngFor="let card of cards | keyvalue">
          <div class="scene">
            <div class="deck">
              <div class="card-face front">
                <div class="card-title"></div>
              </div>
              <div class="card-face back">
                <img class="card-img-top" src="/assets/images/cards/{{ card.value }}.png" alt="Dixit card">
              </div>
            </div>
          </div>
          <div class="card-body text-center">
            <button
              *ngIf="storyteller"
              [disabled]="tellStoryBtnDisabled"
              type="button"
              (click)="tellStory(card.value)"
              class="btn btn-warning">
                Tell a story
            </button>
            <button
              *ngIf="!storyteller"
              [disabled]="waitingForTale || fitMostBtnDisabled"
              type="button"
              (click)="listenerCardChoice(card.value)"
              class="btn btn-warning">
                I fit the most
            </button>
          </div>
        </div>
      </div>
    </div> -->
  </div>

</div>



