<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <blockquote class="blockquote">
          <p class="mb-0">Enter access code to join</p>
        </blockquote>
        <input
          type="text"
          name="userName"
          maxlength="5"
          ngbAutofocus class="form-control"
          autocomplete="off"
          placeholder="AFGEJ" />
        <br>
        <button type="button" class="btn btn-light" (click)="activeModal.close()">Cancel</button>
        <button type="button" class="btn btn-warning" [disabled]="usernameBtnDisabled" (click)="joinGame()">Join</button>
      </div>
    </div>
  </div>
</div>

