/* You can add global styles to this file, and also import other style files */
a {
  cursor: pointer;
}

button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

.standings {
  width: 100%;
  margin: 0 auto;
  z-index: 3;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.blobs-container {
	display: flex;
}

.blob {
	background: black;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	margin: 10px;
	height: 20px;
	width: 20px;
	transform: scale(1);
	animation: pulse-black 2s infinite;
}
// .blob.ready:before {
//   content: "\2713";
// }
.blob.ready {
  animation: colorchange 1s ease 0s 1 normal forwards !important;
}

@media only screen and (max-width: 600px) {
  .blob {
    margin: 5px;
    height: 10px;
    width: 10px;
  }
}

@keyframes pulse-black {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.blob.white {
	background: white;
	box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
	animation: pulse-white 2s infinite;
}

@keyframes pulse-white {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}

.blob.red {
	background: rgba(220, 53, 69, 1);
	box-shadow: 0 0 0 0 rgba(220, 53, 69, 1);
	animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(220, 53, 69, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(220, 53, 69, 0);
	}
}

.blob.grey {
	background: rgba(108, 117, 125, 1);
	box-shadow: 0 0 0 0 rgba(108, 117, 125, 1);
	animation: pulse-grey 2s infinite;
}

@keyframes pulse-grey {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(108, 117, 125, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(108, 117, 125, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(108, 117, 125, 0);
	}
}

.blob.yellow {
	background: rgba(255, 193, 7, 1);
	box-shadow: 0 0 0 0 rgba(255, 193, 7, 1);
	animation: pulse-yellow 2s infinite;
}

@keyframes pulse-yellow {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 193, 7, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 193, 7, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 193, 7, 0);
	}
}

.blob.blue {
	background: rgba(0, 123, 255, 1);
	box-shadow: 0 0 0 0 rgba(0, 123, 255, 1);
	animation: pulse-blue 2s infinite;
}

@keyframes pulse-blue {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 123, 255, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
	}
}

.blob.green {
	background: rgba(40, 167, 69, 1);
	box-shadow: 0 0 0 0 rgba(40, 167, 69, 1);
	animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(40, 167, 69, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(40, 167, 69, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(40, 167, 69, 0);
	}
}

.blob.lightblue {
	background: rgba(23, 162, 184, 1);
	box-shadow: 0 0 0 0 rgba(23, 162, 184, 1);
	animation: pulse-lightblue 2s infinite;
}

@keyframes pulse-lightblue {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(23, 162, 184, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(23, 162, 184, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(23, 162, 184, 0);
	}
}

@keyframes pulse-transparent {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 transparent;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px transparent;
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 transparent;
	}
}

.blob.transparent {
	background: transparent;
	box-shadow: 0 0 0 0 transparent;
	animation: pulse-grey 2s infinite;
}

.scene {
  width: auto;
  height: 350px;
  //perspective: 600px;
}

.deck {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  animation: rotate 5s ease 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-face.front {
  background: linear-gradient(to top, #996633 0%, #663300 100%);
  border: 5px solid white;
}

.card-title {
  background: url("/assets/images/big-logo.png") no-repeat center center;
  background-size: 10em;
  height: 350px;
  width: 100%;
}

.card-face.back {
  transform: rotateY(180deg);
}

@keyframes rotate {
  50%, to { transform: rotateY(180deg); }
}

/* loading dots */

.loading:after {
  content: '.';
  animation: dots 2s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);
    }
  40% {
    color: black;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);
    }
  60% {
    text-shadow:
      .25em 0 0 black,
      .5em 0 0 rgba(0,0,0,0);
    }
  80%, 100% {
    text-shadow:
      .25em 0 0 black,
      .5em 0 0 black;
    }
}
