/* You can add global styles to this file, and also import other style files */
a {
  cursor: pointer;
}

button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}


.blobs-container {
	display: flex;
}

.blob {
	background: black;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	margin: 10px;
	height: 20px;
	width: 20px;
	transform: scale(1);
	animation: pulse-black 2s infinite;
}
// .blob.ready:before {
//   content: "\2713";
// }
.blob.ready {
  animation: colorchange 1s ease 0s 1 normal forwards !important;
}

@keyframes pulse-black {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.blob.white {
	background: white;
	box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
	animation: pulse-white 2s infinite;
}

@keyframes pulse-white {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}

.blob.red {
	background: rgba(220, 53, 69, 1);
	box-shadow: 0 0 0 0 rgba(220, 53, 69, 1);
	animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(220, 53, 69, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(220, 53, 69, 0);
	}
}

.blob.grey {
	background: rgba(108, 117, 125, 1);
	box-shadow: 0 0 0 0 rgba(108, 117, 125, 1);
	animation: pulse-grey 2s infinite;
}

@keyframes pulse-grey {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(108, 117, 125, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(108, 117, 125, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(108, 117, 125, 0);
	}
}

.blob.yellow {
	background: rgba(255, 193, 7, 1);
	box-shadow: 0 0 0 0 rgba(255, 193, 7, 1);
	animation: pulse-yellow 2s infinite;
}

@keyframes pulse-yellow {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 193, 7, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 193, 7, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 193, 7, 0);
	}
}

.blob.blue {
	background: rgba(0, 123, 255, 1);
	box-shadow: 0 0 0 0 rgba(0, 123, 255, 1);
	animation: pulse-blue 2s infinite;
}

@keyframes pulse-blue {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 123, 255, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
	}
}

.blob.green {
	background: rgba(40, 167, 69, 1);
	box-shadow: 0 0 0 0 rgba(40, 167, 69, 1);
	animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(40, 167, 69, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(40, 167, 69, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(40, 167, 69, 0);
	}
}

.blob.lightblue {
	background: rgba(23, 162, 184, 1);
	box-shadow: 0 0 0 0 rgba(23, 162, 184, 1);
	animation: pulse-lightblue 2s infinite;
}

@keyframes pulse-lightblue {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(23, 162, 184, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(23, 162, 184, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(23, 162, 184, 0);
	}
}

